<!DOCTYPE html>
<html>
  <head>
    <title>Oandasan Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express Skills</h1>
      <a href="/">HOME</a> &nbsp;| &nbsp;
      <a href="/skills">SKILLS LIST</a>